<h1>Notícias</h1>

<table>
  <tr>
    <th>Texto</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.texto %></td>
    <td><%= news.data %></td>
    <td><%= link_to 'Mostrar', news %></td>
    <td><%= link_to 'Editar', edit_news_path(news) %></td>
    <td><%= link_to 'Apagar', news, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Inserir Notícia', new_news_path %>
