<p>
  <b>Título:</b>
  <%= @news.titulo %>
</p>

<p>
  <b>Texto:</b>
  <%= simple_format(@news.texto) %>
</p>

<p>
  <b>Data:</b>
  <%= date_format(@news.data) %>
</p>


<%= link_to 'Editar', edit_news_path(@news) %> |
<%= link_to 'Voltar', :back %>
