<%= javascript_include_tag 'pagination' %>

<% @albuns.each do |album| %>
  <h2><%= link_to album.titulo, "albuns/"+album.id.to_s() %></h2>
  
  <p>
    <%= image_tag Album.find_last_image(album.id).photo.url(:small) %>
  </p>
  
  <p>
    <%= album.descricao %>
  </p>
  
  <p>
    <em>Publicado em <%= date_format(album.data) %></em>
  </p>
  <br />
<% end %>

<%= will_paginate @albuns %>