<div id="slider">
  <ul>
    <% @imagens.each do |imagem| %>
      <li>
        <%= link_to image_tag(imagem.photo.url(:medium)), 'albuns/'+imagem.album_id.to_s() %>
        <h2><%= imagem.title %></h2>
      </li>
    <% end %>
  </ul>
</div>

<div id="news">
<% @noticias.each do |noticia| %>
  <div class="news">
    <h2><%= link_to noticia.titulo, 'noticias/'+noticia.id.to_s() %></h2>

    <p>
      <%= auto_link noticia.texto[0..130]+"…" %>
      <br />
      <br />
      <%= link_to 'continuar lendo...', 'noticias/'+noticia.id.to_s() %>
    </p>

    <p>
      <em>Publicado em <%= date_format(noticia.data) %></em>
    </p>
  </div>
<% end %>
</div>