<%= javascript_include_tag 'pagination' %>

<% @news.each do |news| %>
  <h2><%= news.titulo %></h2>

  <p>
    <%= news.texto[0..130]+"…" %>
    <br />
    <br />
      <%= link_to 'continuar lendo...', 'noticias/'+news.id.to_s() %>
  </p>

  <p>
    <em>Publicado em <%= date_format(news.data) %></em>
  </p>
<% end %>

<%= will_paginate @news %>