<% @news.each do |news| %>
  <h2><%= link_to news.titulo, 'noticias/'+news.id.to_s() %></h2>

  <p>
    <%= news.texto[0..130]+"…" %>
    <br />
    <br />
      <%= link_to 'continuar lendo...', 'noticias/'+news.id.to_s() %>
  </p>

  <p>
    <em>Publicado em <%= date_format(news.data) %></em>
  </p>
<% end %>

<%= will_paginate @news, :prev_label => "&laquo; Anterior", :next_label => "Próxima &raquo;" %>