<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "erro") %> proíbem este Usuário de efetuar Login:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Login' %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label 'Senha' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Login' %>
  </div>
<% end %>
