<h1>Imagens</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Álbum</th>
    <th>Data</th>
    <th>Visível no Site?</th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= link_to image.title, image %></td>
    <td><%= Album.find_by_id(image.album_id).titulo %></td>
    <td><%= date_format(image.updated_at) %></td>
    <td><%= visivel_no_site(image.visivel) %></td>
    <td><%= link_to 'Editar', edit_image_path(image) %></td>
    <td><%= link_to 'Apagar', image, :confirm => 'Tem cereza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Inserir Imagem', new_image_path %>
