<p>
  <%= @image.title %>
</p>

<p>
  <%= image_tag @image.photo.url(:small) %>
</p>

<p>
  Visivel na página inicial?<br />
  <%= visivel_no_site(@image.visivel) %>
</p>

<p>
  <em>Publicado em <%= date_format(@image.updated_at) %></em>
</p>

<%= link_to 'Editar', edit_image_path(@image) %> |
<%= link_to 'Voltar', :back %>
