<p>
  <b>Título:</b>
  <%= @image.title %>
</p>

<p>
  <b>Imagem:</b><br />
  <%= image_tag @image.photo.url(:small) %>
</p>

<p>
  <b>Data:</b>
  <%= date_format(@image.updated_at) %>
</p>

<p>
  Visivel na página inicial?<br />
  <%= visivel_no_site(@image.visivel) %>
</p>

<%= link_to 'Editar', edit_image_path(@image) %> |
<%= link_to 'Voltar', :back %>
